body {
    font-size: 1.3em;
    margin: 2%;
}

h1{
    text-align: center;
}
nav{
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}
ul{
    list-style: none;
    display: flex;
    
}
a{
    text-decoration: none;
    color: black;
    margin: 1%;
}

.lista-proyectos{
   
    border-radius: 20px;
}

.lista-proyectos li{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;
    margin: 8px;
    border: 1px solid black; 
    background-color: #f2f2f2;
    border-radius: 10px;
}

